{{- if .Values.backend.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservices-app.fullname" . }}-backend
  labels:
    {{- include "microservices-app.backend.labels" . | nindent 4 }}
    app: backend
spec:
  type: {{ .Values.backend.service.type }}
  ports:
  - port: {{ .Values.backend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: backend
    {{- include "microservices-app.selectorLabels" . | nindent 4 }}
{{- end }}
