{{- if .Values.frontend.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservices-app.fullname" . }}-frontend
  labels:
    {{- include "microservices-app.frontend.labels" . | nindent 4 }}
    app: frontend
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
  - port: {{ .Values.frontend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: frontend
    {{- include "microservices-app.selectorLabels" . | nindent 4 }}
{{- end }}
