{{- if .Values.postgresql.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservices-app.fullname" . }}-postgresql
  labels:
    {{- include "microservices-app.database.labels" . | nindent 4 }}
    app: postgresql
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 5432
    targetPort: postgresql
    protocol: TCP
    name: postgresql
  selector:
    app: postgresql
    {{- include "microservices-app.selectorLabels" . | nindent 4 }}
{{- end }}
