{{- if .Values.elasticsearch.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: {{ .Values.namespace }}
  labels:
    app: elasticsearch
    component: elasticsearch
spec:
  type: {{ .Values.elasticsearch.service.type }}
  ports:
  - name: http
    port: {{ .Values.elasticsearch.service.port }}
    targetPort: 9200
    protocol: TCP
  - name: transport
    port: 9300
    targetPort: 9300
    protocol: TCP
  selector:
    app: elasticsearch
{{- end }}
